.grid-container {
    display: grid;
    width: 960px;
    height: 960px;
    margin: 0 auto;
    border: 2px solid black;
}

.grid-container > div {
    border-right: 1px dashed rgb(200, 200, 200);
    border-bottom: 1px dashed rgb(200, 200, 200);
}

.grid-container > div.no-border-right {
    border-right: none;
}

.grid-container > div.no-border-bottom {
    border-bottom: none;
}