body {
    text-align: center;
}

.children-fit-container {
    display: inline-block;
    text-align: start;
}

.grid-container {
    display: grid;
    width: 720px;
    height: 720px;
    border: 2px solid black;
}

.grid-container > div.cell-border-right {
    border-right: 1px dotted rgb(200, 200, 200);
}

.grid-container > div.cell-border-bottom {
    border-bottom: 1px dotted rgb(200, 200, 200);
}

#new-grid-btn {
    margin-bottom: 8px;
}